<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <style>
    body {
      background: #fafafa;
    }
  </style>
</head>
<body>
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit-html';
    import '../news-service.js';
    render(
      html`
        Latest News from Bitcoin
        <br>
        <news-service endpoint="http://localhost:4000/graphql" tag="laptop"></news-service>
      `,
      document.querySelector('#demo')
    );
  </script>
</body>
</html>
